apiVersion: v1
kind: Service
metadata:
  name: oauth2-proxy
  namespace: {{ oauth2_proxy_namespace }}
  labels:
    app.kubernetes.io/name: oauth2-proxy
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: oauth2-proxy
  ports:
    - name: http
      port: {{ oauth2_proxy_port }}
      targetPort: http
      protocol: TCP
