fullnameOverride: clickhouse

image:
  tag: latest

installationType: standalone
replicaCount: 1

clickhouse:
  accessManagement: {{ (clickhouse_users | length > 0) | lower }}
  users: []
  customConfig:
    system-logs.xml: |-
      <clickhouse>
{% for log_name, ttl_days in clickhouse_system_logs.items() %}
{% if ttl_days == 0 %}
          <{{ log_name }} remove="1" />
{% else %}
          <{{ log_name }}>
              <database>system</database>
              <table>{{ log_name }}</table>
              <ttl>event_date + INTERVAL {{ ttl_days }} DAY DELETE</ttl>
              <flush_interval_milliseconds>7500</flush_interval_milliseconds>
          </{{ log_name }}>
{% endif %}
{% endfor %}
      </clickhouse>

service:
  type: ClusterIP

persistence:
  enabled: true
  storageClass: {{ clickhouse_storage_class }}
  size: {{ clickhouse_storage_size }}

resources:
  requests:
    cpu: "{{ clickhouse_resources.requests.cpu }}"
    memory: "{{ clickhouse_resources.requests.memory }}"
{% if clickhouse_resources.limits is defined %}
  limits:
    cpu: "{{ clickhouse_resources.limits.cpu }}"
    memory: "{{ clickhouse_resources.limits.memory }}"
{% endif %}
