apiVersion: v1
kind: Service
metadata:
  name: forward-proxy-nodeport
  namespace: {{ forward_proxy_namespace }}
spec:
  type: NodePort
  ports:
    - name: proxy
      port: {{ forward_proxy_port }}
      targetPort: proxy
      nodePort: {{ forward_proxy_node_port }}
  selector:
    app.kubernetes.io/name: forward-proxy
