apiVersion: v1
kind: Service
metadata:
  name: forward-proxy
  namespace: {{ forward_proxy_namespace }}
  labels:
    app.kubernetes.io/name: forward-proxy
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: forward-proxy
  ports:
    - name: http
      port: {{ forward_proxy_pac_port }}
      targetPort: http
      protocol: TCP
