apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cert-manager
  namespace: kube-system
spec:
  repo: {{ cert_manager_chart_repo }}
  chart: cert-manager
  version: {{ cert_manager_chart_version }}
  targetNamespace: {{ cert_manager_namespace }}
  createNamespace: true
  valuesContent: |-
    {{ lookup('template', 'cert-manager-values.yml.j2') | indent(4) }}
