apiVersion: v1
kind: Secret
metadata:
  name: metabase-credentials
  namespace: {{ metabase_namespace }}
stringData:
  MB_DB_PASS: {{ metabase_db_password }}
  MB_ENCRYPTION_SECRET_KEY: {{ metabase_encryption_secret_key }}
