apiVersion: v1
kind: Secret
metadata:
  name: registry-htpasswd
  namespace: {{ docker_registry_namespace }}
type: Opaque
stringData:
  htpasswd: |
    {{ docker_registry_admin_user }}:{{ docker_registry_password | password_hash('bcrypt') }}
