apiVersion: v1
kind: Service
metadata:
  name: docker-registry-nodeport
  namespace: {{ docker_registry_namespace }}
spec:
  type: NodePort
  ports:
    - name: http
      port: 5000
      targetPort: 5000
      nodePort: {{ docker_registry_node_port }}
  selector:
    app.kubernetes.io/name: docker-registry-ui
    app.kubernetes.io/instance: docker-registry-ui
    app.kubernetes.io/component: registry-server
