apiVersion: v1
kind: Service
metadata:
  name: temporal-server
  namespace: {{ temporal_namespace }}
  labels:
    app.kubernetes.io/name: temporal
    app.kubernetes.io/component: server
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: temporal
    app.kubernetes.io/component: server
  ports:
    - name: grpc
      port: {{ temporal_grpc_port }}
      targetPort: grpc
      protocol: TCP
    - name: http
      port: {{ temporal_http_port }}
      targetPort: http
      protocol: TCP
