apiVersion: v1
kind: Service
metadata:
  name: temporal-server-nodeport
  namespace: {{ temporal_namespace }}
  labels:
    app.kubernetes.io/name: temporal
    app.kubernetes.io/component: server
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: temporal
    app.kubernetes.io/component: server
  ports:
    - name: grpc
      port: {{ temporal_grpc_port }}
      targetPort: grpc
      nodePort: {{ temporal_grpc_node_port }}
      protocol: TCP
