apiVersion: notification.toolkit.fluxcd.io/v1
kind: Receiver
metadata:
  name: woodpecker
  namespace: {{ flux_namespace }}
spec:
  type: generic-hmac
  secretRef:
    name: flux-webhook-token
  resources:
    - apiVersion: image.toolkit.fluxcd.io/v1beta2
      kind: ImageRepository
      name: backend
    - apiVersion: image.toolkit.fluxcd.io/v1beta2
      kind: ImageRepository
      name: frontend
