{% macro controller(name) %}
{{ name }}:
  create: true
{% if flux_controller_resources %}
  resources:
{{ flux_controller_resources | to_nice_yaml(indent=2) | indent(4, true) }}
{% endif %}
{% endmacro %}
{{ controller('helmController') }}
{{ controller('sourceController') }}
{{ controller('kustomizeController') }}
{{ controller('notificationController') }}
{{ controller('imageAutomationController') }}
{{ controller('imageReflectionController') }}
