helmController:
  create: true
sourceController:
  create: true
kustomizeController:
  create: true
notificationController:
  create: true
imageAutomationController:
  create: true
imageReflectorController:
  create: true
