apiVersion: v1
kind: Secret
metadata:
  name: {{ flux_git_secret_name }}
  namespace: {{ flux_namespace }}
type: Opaque
stringData:
  username: {{ flux_git_username | to_json }}
  password: {{ flux_git_password | to_json }}
