apiVersion: v1
kind: Secret
metadata:
  name: cert-manager-webhook-yandex-secret
  namespace: {{ cert_manager_webhook_yandex_namespace }}
type: Opaque
data:
  iamkey.json: {{ lookup('file', cert_manager_webhook_yandex_sa_key_path) | b64encode }}
