apiVersion: postgresql.cnpg.io/v1
kind: Database
metadata:
  name: {{ cnpg_cluster_name }}-db-{{ item.name | replace('_', '-') }}
  namespace: {{ cnpg_namespace }}
spec:
  name: {{ item.name }}
  owner: {{ item.owner | default(cnpg_bootstrap_owner) }}
  cluster:
    name: {{ cnpg_cluster_name }}
{% if item.extensions is defined and item.extensions | length > 0 %}
  extensions:
{% for ext in item.extensions %}
    - name: {{ ext }}
      ensure: present
{% endfor %}
{% endif %}
