apiVersion: v1
kind: Secret
type: kubernetes.io/basic-auth
metadata:
  name: cnpg-app
  namespace: {{ cnpg_namespace }}
stringData:
  username: {{ cnpg_bootstrap_owner | default('app') }}
  password: {{ cnpg_app_password }}
