apiVersion: v1
kind: Secret
type: kubernetes.io/basic-auth
metadata:
  name: cnpg-superuser
  namespace: {{ cnpg_namespace }}
stringData:
  username: postgres
  password: {{ cnpg_superuser_password }}
