apiVersion: v1
kind: Secret
metadata:
  name: woodpecker-docker-config
  namespace: {{ woodpecker_namespace }}
type: Opaque
data:
  config.json: {{ ('{"auths":{"registry.' + infra_domain + '":{"auth":"' + (("admin:" + woodpecker_docker_registry_password) | b64encode) + '"}}}') | b64encode }}
