apiVersion: v1
kind: Service
metadata:
  name: woodpecker-grpc-nodeport
  namespace: {{ woodpecker_namespace }}
spec:
  type: NodePort
  selector:
    app.kubernetes.io/instance: woodpecker
    app.kubernetes.io/name: server
  ports:
    - port: 9000
      targetPort: 9000
      nodePort: {{ woodpecker_agent_grpc_port }}
      protocol: TCP
      name: grpc
