apiVersion: v1
kind: Secret
metadata:
  name: woodpecker-docker-config
  namespace: {{ woodpecker_namespace }}
type: Opaque
data:
  config.json: {{ ('{"auths":{"' + woodpecker_docker_registry_host + '":{"auth":"' + ((docker_registry_username + ":" + woodpecker_docker_registry_password) | b64encode) + '"}}}') | b64encode }}
